body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: hsl(216, 12%, 8%);

  font-family: "Overpass", sans-serif;
}

.icone {
  position: absolute;
  top: 30px;
  left: 30px;

  border-radius: 50%;
  padding: 1rem;

  background-color: rgba(255, 255, 255, 0.1);
}

.titulo {
  font-weight: 700;
  font-size: 1.6rem;

  margin-bottom: 20px;
  padding-top: 10px;

  align-self: flex-start;
  color: hsl(0, 0%, 100%);
}

p {
  margin-bottom: 20px;
  color: hsl(216, 12%, 54%);
  font-size: 15px;
  line-height: 1.6;
}

.principal {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 25px;
  padding-top: 110px;
  padding-left: 30px;

  width: 350px;
  height: 280px;
  border-radius: 30px;

  background-color: hsl(213, 19%, 18%);
}
.principal.desativado {
  display: none;
}

.resultado {
  display: none;
  justify-content: flex-start;

  padding: 50px;

  width: 300px;
  height: 300px;
}
.resultado.ativo {
  display: flex;
}
.botao {
  display: flex;
  justify-content: center;
  justify-content: center;

  width: 100%;
  padding: 15px;
  border-radius: 30px;
  border: none;

  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1rem;

  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);

  cursor: pointer;
}
.botao:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

.lista {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 95%;
  margin-bottom: 30px;
}
.listaItem {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
  color: hsl(216, 12%, 54%);

  cursor: pointer;
}

.listaItem:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}

.listaItem.ativo {
  font-weight: 700;
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.imagem {
  max-width: 200px;
}

.mensagem {
  border-radius: 40px;

  padding: 0.5rem;
  margin-top: 30px;

  color: hsl(25, 94%, 70%);
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.7;
}

.titulo2 {
  margin-top: 20px;
  align-self: center;
}

.paragrafo {
  text-align: center;
  padding-bottom: 20px;
}
