body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(216, 12%, 8%);
  font-family: "Overpass", sans-serif;
}

.icone {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 1rem;
  top: 30px;
  position: absolute;
  left: 30px;
}

.titulo {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 1.6rem;
  padding-top: 10px;
  align-self: flex-start;
  color: hsl(0, 0%, 100%);
}

p {
  margin-bottom: 20px;
  color: hsl(216, 12%, 54%);
  font-size: 15px;
  line-height: 1.6;
}

.principal {
  padding: 25px;
  padding-top: 110px;
  padding-left: 30px;
  width: 350px;
  height: 280px;
  position: relative;
  background-color: hsl(213, 19%, 18%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.principal.desativado {
  display: none;
}

.resultado {
  justify-content: flex-start;
  padding: 50px;
  display: none;
  width: 300px;
  height: 300px;
}
.resultado.ativo {
  display: flex;
}
.botao {
  cursor: pointer;
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  font-size: 1rem;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}
.botao:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

.lista {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.listaItem {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(216, 12%, 54%);
}

.listaItem:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}

.listaItem.ativo {
  font-weight: 700;
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.imagem {
  max-width: 200px;
}

.mensagem {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  opacity: 0.7;
  margin-top: 30px;
  color: hsl(25, 94%, 70%);
  border-radius: 40px;
}

.titulo2 {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.paragrafo {
  text-align: center;
  padding-bottom: 20px;
}
